{{#partial "styles"}}
    <!--    Custom index page css-->
    <link rel="stylesheet" href="/css/custom.css">
{{/partial}}
{{#partial "content"}}
    <div class="container-fluid wrapper">
        <div class="logo">
            <img src="/images/forest logo2.png" alt="logo" />
        </div>
        <div class="title text-center">
            <h1>WELCOME TO <br><br>WILDLIFE TRACKER</h1>

        </div>


    </div>
{{/partial}}
{{> layout.hbs}}


